* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper{
    height: 100vh;
    overflow-x: auto;
    overflow-y: auto;
    /* background-color: black; */
    display: flex;
    
    justify-content: center;
    align-items: center;
    /* border: 5px solid green;  */
}


.page{
  height: 500px;
  width: 1440px;
  border: 2px solid green;
}