<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Follow Requests</title>
    <link rel="stylesheet" href="./stylesheets/followRequests.css" />
    <script src="/javascripts/theme.js"></script>
    <script>
      function handleRequest(username, action) {
        fetch(`/${action}FollowRequest/${username}`, {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
        })
          .then((response) => response.json())
          .then((data) => {
            if (data.success) {
              alert(
                `${username} has been ${
                  action === "accept" ? "accepted" : "rejected"
                }!`
              );
              location.reload(); // Reload the page to update the list
            } else {
              alert(`Failed to ${action} follow request.`);
            }
          });
      }
    </script>
  </head>
  <body>
    <div class="container">
      <h1>Follow Requests</h1>
      <ul>
        <% user.followRequests.forEach(request => { %>
        <li>
          <a href="/user/<%= request.username %>"><%= request.username %></a>
          <div class="button-group">
            <button
              onclick="handleRequest('<%= request.username %>', 'accept')"
            >
              Accept
            </button>
            <button
              class="reject"
              onclick="handleRequest('<%= request.username %>', 'reject')"
            >
              Reject
            </button>
          </div>
        </li>
        <% }); %>
      </ul>
      <% if (user.followRequests.length === 0) { %>
      <p>No follow requests.</p>
      <% } %>
      <a class="back" href="/myProfile">Back to Profile</a>
    </div>
  </body>
</html>
