<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>
      <% notifications.forEach(notification => { %> <% if (notification.type ===
      "followRequest") { %>
      <p><%= notification.from.username %> wants to follow you</p>
      <button
        onclick="handleFollowRequest('<%= notification.from._id %>', true)"
      >
        Accept
      </button>
      <button
        onclick="handleFollowRequest('<%= notification.from._id %>', false)"
      >
        Reject
      </button>
      <% } %> <% }) %>
    </div>
  </body>
</html>
